/**
 * COLORS
 */
 
a = #FFFFFF
b = #FFFFFF
c = #FFFFFF
d = #FFFFFF
e = #FFFFFF
f = #FFFFFF
g = #FFFFFF
h = #FFFFFF
i = #FFFFFF
j = #FFFFFF
k = #FFFFFF
l = #FFFFFF
m = #FFFFFF
n = #FFFFFF
o = #FFFFFF
p = #FFFFFF
q = #FFFFFF
r = #FFFFFF
s = #FFFFFF
t = #FFFFFF
u = #FFFFFF
v = #FFFFFF
w = #FFFFFF
x = #FFFFFF
y = #FFFFFF
z = #FFFFFF

/**
 * DEVICES
 */
$mobile  = 767px
$tablet  = 1023px
$desktop = $tablet + 1


/**
 * FONTS
 */


/**
 * SIZES
 */
